header {
    display: flex;
    justify-content: space-between;
}
ul {
    display: inline-flex;
    flex-direction: row;
    list-style: none;
}
.answers {
    display: flex;
    flex-direction: column;
    
}